/* Reset geral e configuração da fonte */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.67vh 3.33vh;
    background-color: #1F1F1F;
    height: 10vh;
    width: 100%;
    z-index: 10;
}

.navbar-logo {
    display: flex;
}

.navbar-logo img {
    height: auto;
    width: 17vh;
}

.navbar-search {
    flex: 1;
    margin: 0 3.33vh;
    position: relative;
    max-width: 6.67vh;
    transition: max-width 0.5s ease;
}

.navbar-search input {
    width: 100%;
    padding: 1.67vh 6.67vh 1.67vh 2.5vh;
    border-radius: 3.33vh;
    border: none;
    outline: none;
    background-color: #333;
    color: #ffffff;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.navbar-search img {
    position: absolute;
    right: 2.5vh;
    top: 50%;
    transform: translateY(-50%);
    height: 3.33vh;
    width: 3.33vh;
    cursor: pointer;
}

.navbar-profile {
    display: flex;
}

.coroa-navbar {
    height: auto;
    width: 3vh;
    margin-right: 1.5vh;
}

.navbar-profile .profile {
    height: 6.67vh;
    width: 6.67vh;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* Estilo quando o campo de busca está ativo */
.navbar-search.active {
    max-width: 50vh;
}

.navbar-search.active input {
    opacity: 1;
    pointer-events: auto;
}

/* Perfil expanded */

.perfil-expanded {
    background-color: #353535;
    display: none;
    color: white;
    border-radius: 1.67vh;
    width: 20vh;
    position: absolute;
    right: 3.33vh;
    top: 8.33vh;
}

.perfil-expanded a {
    text-decoration: none;
    color: white;
    font-size: 3;
}

.perfil-expanded div {
    display: flex;
    padding: 0.83vh 2.5vh;
    cursor: pointer;
    align-items: center;
}

.perfil-expanded p {
    font-size: 2.5vh;
}

.perfil-expanded img {
    margin-right: 1.67vh;
    height: auto;
    width: 3vh;
}

/* Card */

.card {
    position: fixed;
    display: flex;
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
    padding: 1.67vh;
    background-color: rgb(231, 231, 231);
    align-items: center;
    justify-self: center;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh;
    font-weight: bold;
    font-size: 3.33vh;
    opacity: 0.8;
    box-sizing: border-box;
    z-index: 20;
    color: rgb(51, 51, 51);
}

.card button {
    margin-left: 2.5vh;
    border: none;
    color: black;
    font-size: 3.33vh;
    padding: 0.33vh 1.33vh;
    border-radius: 1.67vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 4.17vh;
}

.barra {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.83vh;
    width: 100%;
    background-color: rgb(161, 161, 161);
}

.barra2 {
    height: 100%;
    width: 100%;
    background-color: rgb(99, 99, 99); /* Cor da linha de progresso */
    transform-origin: left center;
    transition: transform 1s linear;
}
