.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1F1F1F;
    height: 60px;
    width: 100%;
    position: fixed;
}

/* Container do calendário */
.calendar-container {
    background-color: #1F1F1F;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.calendar-header button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    color: #424242;
}

.calendar-weekdays {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
}

.calendar-weekdays div {
    width: calc(100% / 7);
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-days div {
    width: calc(100% / 7);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.calendar-days div:hover {
    background-color: #eee;
}

.calendar-days div.current-day {
    background-color: #0CBC8B;
    color: #fff;
    font-weight: bold;
}

/* fim calendário */


/* urgências */

.principal {
    margin-top: 100px;
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.parte1-principal {
    display: flex;
    align-items: stretch;
}

.urgencia {
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.parte-cima-urgencia {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #B65118;
    padding: 3px;
    padding-left: 20px;
    border-radius: 8px;
}

.parte-cima-urgencia img {
    height: auto;
    width: 30px;
}


.parte-baixo-urgencia {
    background-color: #353535;
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px;
    width: 100%;
    flex-grow: 1;
    
}

.parte-baixo-urgencia ul {
    list-style-type: none;
    padding-left: 0; 
    margin: 0;
}

.parte-baixo-urgencia li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.parte-baixo-urgencia p {
    font-size: 20px;
}

.urgencia-marrom p {
    color: #B65118;
    font-weight: 900;
}

.urgencia-verde p {
    color: #0CBC8B;
    font-weight: 900;
}

.parte-baixo-urgencia img {
    height: auto;
    width: 30px;
    margin-right: 20px;
}

/* Perfil expanded */

.perfil-expanded {
    background-color: #353535;
    display: none;
    color: white;
    border-radius: 10px;
    width: 120px;
    position: absolute;
   right: 20px;
   top: 50px;
}

.perfil-expanded a {
    text-decoration: none;
    color: white;

}

.perfil-expanded div {
    display: flex;
    padding: 5px 15px;
    cursor: pointer;
}

.perfil-expanded img {
    margin-right: 10px;
    height: auto;
    width: 18px;
}

/* Partezona de baixo */

.parte2-principal {
    background-color: #292929;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.titulo-parte2 {
    color: white;
    text-align: center;
    font-size: 20px;
}

.super-container {
    width: 93%;
    align-self: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    max-height: 50vh;
    overflow-y: auto;  /* Habilita o scroll vertical caso o conteúdo exceda o max-height */
}

/* Personaliza a barra de rolagem (para navegadores WebKit) */
.super-container::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Estilo da parte do "trilho" da scrollbar */
.super-container::-webkit-scrollbar-track {
    background: #242424; /* Cor de fundo do trilho */
    border-radius: 2px; /* Bordas arredondadas do trilho */
}

/* Estilo da parte "deslizante" da scrollbar */
.super-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 2px;    /* Bordas arredondadas da barra */
}

/* Estilo da barra de rolagem ao passar o mouse */
.super-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor da barra de rolagem ao passar o mouse */
}

.container-atividade {
    margin-bottom: 20px;
}

.container-atividade ul {
    list-style: none;
    background-color: #353535;
    border-radius: 10px;
    padding: 15px;
}

.lista-atividades li {
    display: flex;
    align-items: cen;
}

.lista-atividades p {
    color: #0CBC8B;
    font-weight: bold;
}

.lista-atividades input {
    margin-left: 5px;
    height: auto;
    width: 20px;
    box-sizing: border-box;
}

.lista-atividades a {
    color: #D9D9D9;
    font-style: none;
    text-decoration: none;
    font-weight: 700;
    margin-left: 10px;
}

.lista-atividades a:hover {
    text-decoration: underline;
}

.botao-atividade {
    background-color: #2A715D;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    display: inline-flex;
    justify-content: space-between;
    width: 220px;
    align-self: center;
    position: absolute;
    bottom: 30px;
    align-items: center;
}

.botao-atividade img {
    height: auto;
    width: 25px;
    margin-left: 10px;
}

/* Coroa do lado do nome da atividade caso seja pública */

.imagem-coroa {
    height: 3vh !important;
    width: auto !important;
    margin-left: 3vh !important;
    cursor: pointer !important;
    position: relative !important;
}

.ajustar-imagem {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.imagem-coroa-agenda {
    height: 3vh !important;
    width: auto !important;
    margin-left: 2vh !important;
    cursor: pointer !important;
}

.aviso-coroa {
    position: absolute !important;
    background-color: #252525 !important;
    font-size: 0.8vh !important;
    padding: 1.5vh;
    border-radius: 2vh;
    right: -2vh;
    bottom: 4.5vh;
    display: none;

}
.aviso-coroa p {
    font-size: 2.4vh;
    color: white;
    font-weight: 400;

}

.controle-aviso {
    display: flex;
    align-items: center;
    position: relative;
}

.urgencia-verde {
    position: relative;
}

.urgencia-marrom {
    position: relative;
}