.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.67vh 3.33vh;
    background-color: #1F1F1F;
    height: 10vh;
    width: 100%;
    position: fixed;
}

.calendar-container {
    background-color: #1F1F1F;
    color: #fff;
    border-radius: 1.33vh;
    box-shadow: 0 0 1.67vh rgba(0, 0, 0, 0.1);
    padding: 3.33vh;
    width: 58.33vh;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.33vh;
}

.calendar-header h2 {
    margin: 0;
    font-size: 4vh;
}

.calendar-header button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    color: #424242;
}

.calendar-weekdays {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
}

.calendar-weekdays div {
    width: calc(50vh / 7);
    font-size: 2.6vh;
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-days div {
    width: calc(50vh / 7);
    height: 8.33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.83vh;
    border-radius: 0.83vh;
    transition: background-color 0.3s ease;
    font-size: 2.5vh;
}

.calendar-days div:hover {
    background-color: #eee;
}

.calendar-days div.current-day {
    background-color: #0CBC8B;
    color: #fff;
    font-weight: bold;
}

.principal {
    margin-top: 16.67vh;
    width: 155vh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.parte1-principal {
    display: flex;
    align-items: stretch;
}

.urgencia {
    margin-left: 3.33vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.parte-cima-urgencia {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #B65118;
    padding: 0.5vh;
    padding-left: 3.33vh;
    border-radius: 1.33vh;
}

.parte-cima-urgencia img {
    height: auto;
    width: 5vh;
}

.parte-cima-urgencia h5 {
    font-size: 2.3vh;
}

.parte-baixo-urgencia {
    background-color: #353535;
    border-radius: 1.67vh;
    padding: 5vh;
    margin-top: 1.67vh;
    width: 100%;
    flex-grow: 1;
}

.parte-baixo-urgencia ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.parte-baixo-urgencia li {
    display: flex;
    align-items: center;
    margin-bottom: 3.33vh;
}

.parte-baixo-urgencia p {
    font-size: 3.4vh;
}

.urgencia-marrom p {
    color: #B65118;
    font-weight: 900;
}

.urgencia-verde p {
    color: #0CBC8B;
    font-weight: 900;
}

.parte-baixo-urgencia img {
    height: auto;
    width: 5.5vh;
    margin-right: 3.33vh;
}

.data-parte-baixo-urgencia {
    font-size: 2.3vh;
    margin-left: 1vh;
}

.parte2-principal {
    background-color: #292929;
    border-radius: 1.67vh;
    width: 100%;
    min-height: 50vh;
    margin-top: 3.33vh;
    margin-bottom: 6.67vh;
    padding: 3.33vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.titulo-parte2 {
    color: white;
    text-align: center;
    font-size: 3.33vh;
}

.super-container {
    width: 93%;
    align-self: center;
    margin-top: 1.67vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 11.67vh;
    max-height: 50vh;
    overflow-y: auto;
}

.super-container::-webkit-scrollbar {
    width: 2vh;
}

.super-container::-webkit-scrollbar-track {
    background: #242424;
    border-radius: 0.33vh;
}

.super-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.33vh;
}

.super-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.container-atividade {
    margin-bottom: 3.33vh;
}

.container-atividade ul {
    list-style: none;
    background-color: #353535;
    border-radius: 1.67vh;
    padding: 2.5vh;
}

.lista-atividades li {
    display: flex;
    align-items: cen;
}

.lista-atividades p {
    color: #0CBC8B;
    font-weight: bold;
    font-size: 2.7vh;
}

.lista-atividades input {
    margin-left: 0.83vh;
    height: auto;
    width: 3.33vh;
    box-sizing: border-box;
}

.lista-atividades a {
    color: #D9D9D9;
    font-style: none;
    text-decoration: none;
    font-weight: 700;
    margin-left: 1.67vh;
    font-size: 2.7vh;
}

.lista-atividades a:hover {
    text-decoration: underline;
}

.botao-atividade {
    background-color: #2A715D;
    color: white;
    text-decoration: none;
    padding: 1.67vh;
    border-radius: 2.5vh;
    display: inline-flex;
    justify-content: space-between;
    width: 36.67vh;
    align-self: center;
    position: absolute;
    bottom: 5vh;
    align-items: center;
}

.botao-atividade img {
    height: auto;
    width: 4.17vh;
    margin-left: 1.67vh;
}

.botao-atividade p {
    font-size: 2.7vh;
}

.imagem-coroa {
    height: 3vh !important;
    width: auto !important;
    margin-left: 3vh !important;
    cursor: pointer !important;
    position: relative !important;
}

.ajustar-imagem {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.imagem-coroa-agenda {
    height: 3vh !important;
    width: auto !important;
    margin-left: 2vh !important;
    cursor: pointer !important;
}

.controle-aviso {
    display: flex;
    align-items: center;
    position: relative;
}

.urgencia-verde {
    position: relative;
}

.urgencia-marrom {
    position: relative;
}
