@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0C0C0C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items:end;
}

.logo {
    height: 50px;
    width: auto;
    margin-bottom: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    flex: 1;
    overflow: hidden; /* Evita que adicione rolagem */
    height: calc(100vh - 20vh);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.box-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.imagem1 {
    height: 458px;
    width: auto;
}

.box-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 51%;
    margin-top: 20px;
    width: 70%;
}

.box-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 116px;
}

.titulo-form {
    color: white;
    align-self: center;
    font-size: 20px;
    margin-top: 15px;
}

.paragrafo2 {
    text-align: center;
    color: white;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400;
}

.input-cpf, .input-senha {
    background-color: #353535;
    outline: none;
    border: none;
    padding: 17px;
    border-radius: 21px;
    color: rgb(231, 231, 231);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 60px;
    width: calc(100% - 77px);
}

.input-cpf {
    background-image: url(/static/imagens/4.png);
}

.input-senha {
    background-image: url(/static/imagens/5.png);
}

.botao-submit {
    background-color: #0CBC8B;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 23px;
    padding: 1px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-weight: 700;
}

.botao-submit:hover {
    background-color: #0a7c5c;
}

.link1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 19px;
    transition: color 0.5s;
}

.link1:hover {
    color: #a3a3a3;
}

/* Validação de formulário */

.input-erro {
    border: solid 1px rgb(153, 0, 0);
}

/* Card */

.card {
    position: absolute;
    display: flex;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px;
    background-color: #0CBC8B;
    align-items: center;
    justify-self: center;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    font-weight: bold;
    font-size: 20px;
}

.card button {
    margin-left: 15px;
    border: none;
    color: black;
    font-size: 20px;
    background-color: #0CBC8B;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}

.barra {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #0CBC8B;
  
}

.barra2 {
    height: 100%;
    width: 100%;
    background-color: #046b4e; /* Cor da linha de progresso */
    transform-origin: left center;
    transition: transform 1s linear;

}