/* parte-baixo */

body {
    background-color: #121212;
    color: #ffffff;
    min-height: 90vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    width: 150vh;
    align-self: center;
    flex: 1;
    margin-top: 10vh;
    display: flex;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 55vh;
    justify-content: space-between;
    margin-top: 2vh;
}

.container-form {
    flex: 1;
    display: flex;
    background-color: #292929;
    padding: 5vh;
    border-radius: 2.8vh;
    position: relative;
}

label {
    color: #0CBC8B;
    font-size: 2.6vh;
    margin-left: 1.5vh;
    font-weight: bold;
}

.inputs-text {
    border: none;
    background-color: #353535;
    padding: 2.3vh;
    border-radius: 3vh;
    outline: none;
    color: #787878;
    font-size: 2.3vh;
}

.input-date {
    border: none;
    width: 17vh;
    background-color: #353535;
    color: rgba(231, 231, 231, 0.363);
    padding: 2.3vh;
    border-radius: 3vh;
    outline: none;
    font-size: 2.3vh;
}

.input-select {
    background-color: #353535;
    outline: none;
    border: none;
    padding: 2.3vh;
    border-radius: 3vh;
    color: #e7e7e75d;
    padding-left: 3vh;
    width: 24vh;
    font-size: 2.3vh;
}
  
.div-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-select img {
    height: 4vh;
    width: auto;
}

.submit {
    background-color: #212121;
    display: flex;
    width: 30vh;
    justify-content: space-between;
    padding: 2.3vh;
    align-items: center;
    cursor: pointer;
    font-size: 2.3vh;
    border-radius: 3vh;
}

.submit img {
    height: auto;
    width: 3vh;
}

/* Avisos */

.bloco-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.aviso {
    display: none;
    align-items: center;
    position: absolute;
    background-color: white;
    padding: 2vh;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 2.1vh;
    font-size: 2.4vh;
    z-index: 10;
    opacity: 0.8;
    color: black;
    top: 10vh;
    left: 2vh;
}


.aviso::before {
    content: "";
    position: absolute;
    top: -1.1vh; 
    left: 84%;
    transform: translateX(-50%);
    border-width: 0 1.3vh 1.3vh 1.3vh; 
    border-style: solid;
    border-color: transparent transparent white transparent; 
}

.aviso img {
    margin-left: 3.3vh;
    height: 4.1vh;
    width: auto;;
}

.aviso-date {
    left: -6vh;
}

.container-inputs {
    display: flex;
    justify-content: space-between;
    width: 70vh;
}

.img-edit {
    position: absolute;
    right: 3vh;
    top: 3vh;
    height: auto;
    width: 3vh;
    cursor: pointer;
}

.href {
    text-decoration: none;
    color: #ffffff;
}