<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/svg+xml" href="/static/imagens/estudify.svg">
    <link rel="stylesheet" href="/static/base-navbar.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home_page') }}">
            <div class="navbar-logo">
                <img src="/static/imagens/estudify2.svg" alt="Logo">
            </div>
        </a>
        <div class="navbar-search">
            <input type="text" placeholder="Buscar na Agenda">
            <img src="/static/imagens/lupa.png" alt="Lupa" id="search-icon">
        </div>
        <div class="navbar-profile">
            {% if current_user['lider'] == 's' %}
                <img src="/static/imagens/coroa.svg" class="coroa-navbar" alt="">
            {% endif %}
            {% if current_user['foto-perfil'] %}
                <img src="/static/fotos_perfil/{{ current_user['foto-perfil'] }}" class="profile" alt="">
            {% else %}
                <img src="/static/imagens/profile-low5.jpg" alt="Profile" class="profile">
            {% endif %}
        </div>

        <div class="perfil-expanded">
            <a href="{{ url_for('perfil') }}">
                <div>
                    <img src="/static/imagens/profile.svg" alt="">
                    <p> Perfil </p>
                </div>
            </a>
            <a href="{{ url_for('logout')}}">
                <div>
            
                    <img src="/static/imagens/exit.svg" alt="">
                    <p> Sair </p>
                </div>
            </a>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="card">
            <p class="alert">{{messages[0]}}</p>
            <button onclick="tirar_card()">X</button>
            <div class="barra">
                <div class="barra2"></div>
            </div>
        </div>
    {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <script src= "{{ url_for('static', filename='scripts/base-navbar.js') }}" ></script>
</body>
</html>