{% extends "base-navbar.html" %}

{% block head %}
<link rel="stylesheet" href="/static/home.css">
{% endblock %}

{% block body %}
<main class="principal">
    <div class="parte1-principal">
        <div class="calendar-container">
            <div class="calendar-header">
                <button id="prev-month-btn">&#10094;</button>
                <h2 id="month-year"></h2>
                <button id="next-month-btn">&#10095;</button>
            </div>
            <div class="calendar-body">
                <div class="calendar-weekdays">
                    <div>Dom</div>
                    <div>Seg</div>
                    <div>Ter</div>
                    <div>Qua</div>
                    <div>Qui</div>
                    <div>Sex</div>
                    <div>Sáb</div>
                </div>
                <div class="calendar-days" id="calendar-days"></div>
            </div>
        </div>

        <div class="urgencia">
            <div class="parte-cima-urgencia">
                <h5>URGÊNCIAS DO MÊS ATUAL</h5>
                <img src="/static/imagens/urgencia2.svg" alt="">
            </div>

            <div class="parte-baixo-urgencia">
                {% if lista_atividades %}
                    {% for atividade in lista_atividades %}
                        <ul>
                            {% if lista_atividades[atividade]['dias_falta'] == '0' or lista_atividades[atividade]['dias_falta'] == '1' or lista_atividades[atividade]['dias_falta'] == '2' or lista_atividades[atividade]['dias_falta'] == '3' %}
                                <li class="urgencia-marrom">
                                    <img src="/static/imagens/urgenciaMARROM.svg" alt="">
                                    {% if lista_atividades[atividade]['dias_falta'] == '1' %}
                                        <p>
                                            {{ atividade.upper() + ' AMANHÃ' }} 
                                        </p>
                                    {% elif lista_atividades[atividade]['dias_falta'] == '0' %}
                                        <p>
                                            {{ atividade.upper() + ' HOJE'}} 
                                        </p>
                                    {% else %}
                                        <p>
                                            {{ atividade.upper() + ' EM ' + lista_atividades[atividade]['dias_falta'] + ' DIAS' }} 
                                        </p>
                                    {% endif %}
                                    {% if lista_atividades[atividade]['tipo'] == 'publica' %}
                                        <div class="controle-aviso">
                                            <img src="/static/imagens/coroa.svg" alt="aaa" class="imagem-coroa imagem1">
                                            
                                        </div>
                                    {% endif %}
                                </li>
                            
                            {% else %}
                                
                                <ul>
                                    <li class="urgencia-verde">
                                        <img src="/static/imagens/urgenciaVERDE.svg" alt="">
                                        {% if lista_atividades[atividade] == '' %}
                                        <p>
                                            ... 
                                        </p>
                                        {% else %}
                                            <p>
                                                {{ atividade.upper() + ' EM ' + lista_atividades[atividade]['dias_falta'] + ' DIAS' }} 
                                            </p>
                                        {% endif %}
                                        {% if lista_atividades[atividade]['tipo'] == 'publica' %}
                                            <div class="controle-aviso">
                                                <img src="/static/imagens/coroa.svg" alt="aaa" class="imagem-coroa imagem2">
                                                
                                            </div>
                                        {% endif %}
                                    </li>
                                </ul>
                            {% endif %}
                        </ul>
                    {% endfor %}
                {% else %}
                    <ul>
                        <li class="urgencia-verde">
                            <img src="/static/imagens/festa.svg" alt="">
                            <p class="mensagem-sucesso">VOCÊ NÃO POSSUI ATIVIDADES ESSE MÊS! </p>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="parte2-principal"> 
        <h5 class="titulo-parte2">AGENDA DE ATIVIDADES</h5>
        <div class="super-container">
            {% if dicionario %}
                {% for data in dicionario %}
                    <div class="container-atividade">
                        <h5 class="data-parte-baixo-urgencia">{{ data }}</h5>
                        <ul class="lista-atividades">
                            {% for item in dicionario[data]['lista_atividades'] %}
                                <li>
                                    <p>{{ item['titulo'] }}</p>
                                    {% if item['status'] == 'Pendente'%}
                                        <input type="checkbox" disabled>
                                    {% else %}
                                        <input type="checkbox" checked disabled>
                                    {% endif %}
                                    <a href="{{ url_for('tela_atividades', codigo_atividade=item['cod'] ) }}">ABRIR ATIVIDADE</a>
                                    
                                    {% if item['visibilidade'] == 'Público' %}
                                        <div class="ajustar-imagem">
                                            <img src="/static/imagens/coroa.svg" alt="" class="imagem-coroa-agenda">
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            {% else %}
                <div class="naopossui-agenda">
                    <img src="/static/imagens/festa.svg" alt="">
                    <span>VOCÊ NÃO POSSUI ATIVIDADES NO MOMENTO! APROVEITE SEU DIA!</span>
                </div>
            {% endif %}

        </div>
        <a class="botao-atividade" href="{{ url_for('cadastro_atividades')}}">
            <p>Cadastrar Atividade</p>
            <img src="/static/imagens/maizin.svg" alt="">
        </a>
    </div>
</main>

<script src= "{{ url_for('static', filename='scripts/home.js') }}" ></script>
{% endblock %}